{% load static %}

<nav class="navbar navbar-expand-lg bg-light mb-4">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="{% url 'index:index' %}">Biblioteca</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if list_books %} link-primary disabled {% endif %}" href="{% url 'index:list_books' %}">Libros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if about_us %} link-primary disabled {% endif %}" href="{% url 'index:about_us' %}">Nosotros</a>
                </li>
            </ul>
            <div class="d-flex">
                {% if user.is_authenticated %}
                    <div class="dropdown me-4">
                        <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> {{ user.username }} </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'index:list_my_books' %}"> Mis libros </a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#update_modal"> Actualizar datos </a></li>
                        </ul>
                    </div>
                    <form action="{% url 'index:user_logout' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <button class="btn btn-outline-secondary" type="submit">Logout</button>
                    </form>
                {% else %}
                    <button class="btn btn-outline-secondary" type="button" data-bs-toggle="modal" data-bs-target="#login_modal">Login</button>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
