{% load static %}

<nav class="navbar navbar-expand-lg bg-light mb-4">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="{% url 'index:index' %}">Biblioteca</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {% if list_books %} link-primary disabled {% endif %}" href="{% url 'index:list_books' %}">Libros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if about_us %} link-primary disabled {% endif %}" href="{% url 'index:about_us' %}">Nosotros</a>
                </li>
            </ul>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        <a class="btn btn-outline-danger" href="{% url 'dashboard:index' %}" role="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                        </a>
                    {% endif %}
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"> {{ user.username }} </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="{% url 'index:list_my_books' %}"> Mis libros </a></li>
                            <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#update_modal"> Actualizar datos </a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form action="{% url 'index:user_logout' %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input class="dropdown-item" type="submit" value="Logout">
                                </form>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <a class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#login_modal" role="button">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
