<div class="modal fade" id="delete_book_{{ book.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">ELIMINAR</h5>
            </div>
            <div class="modal-body text-start">
                <div class="container">
                    <div class="row">
                        <span class="mb-2">Se eliminará el libro <b>"{{ book.title }}"</b></span>
                        <span>¿Estás seguro?</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <form action="{% url 'index:delete_book' book.pk %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger float-end">Eliminar</button>
                </form>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>